
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
    <div>
        <p>@TempData["msg"]</p>
        <p>Name: @Model.Name</p>
        <p>Id: @Model.Id</p>
    </div>
</body>
</html>
