
@{
    ViewBag.Title = " My Cv";
}

<h2>My Cv</h2>
<table border="1" ,border-collapse: collapse>
    <tr>
        <th>Class</th>
        <th>Institute</th>
        <th>Year</th>
    </tr>
    <tr>
        <td>SSC</td>
        <td>Baharpur High School</td>
        <td>2016</td>
    </tr>
    <tr>
        <td>Hsc</td>
        <td>Rajbari Govt College</td>
        <td>2018</td>
    </tr>
</table>
<br /><br />
<a href="/Cvv/Index">Back</a>

