
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Project</title>
</head>
<body>
    <div>

        <ol>
            <li>Hospital Mangement</li>
       
            <li>Tour Mange Ment</li>
            <li>Employee Mangement</li>
        </ol>

        <a href="/Cvv/mycv">My Cv</a>
        <a href="/Cvv/Index">Home</a>
    </div>
</body>
</html>
